@font-face{
    src: url(../fonts/Lato-Bold.ttf);
    font-family: 'Lato';
    font-weight: 700;
}

@font-face{
    src: url(../fonts/Lato-Regular.ttf);
    font-family: 'Lato';
    font-weight: 400;
}